* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

footer {
  display: none;
  transition: all 1s ease;
  z-index: 1986;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  border-top: 1px solid rgba(40, 40, 40, 0.4);
  justify-content: space-between;
  padding: 0 15px;
}
footer.hide {
  bottom: -8%;
}
footer .btn {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}
footer .btn svg {
  width: 24px;
  height: 24px;
}
footer .btn svg path {
  fill: #5f5f5f;
}
footer .btn svg.pinterest path {
  fill: #e6001a;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  grid-template-rows: masonry;
  margin: 0 auto;
  padding: 5px;
  z-index: 1985;
}

.element {
  border-radius: 10px;
  cursor: zoom-in;
  margin: 5px 0;
}
.element img {
  width: 100%;
  border-radius: 10px;
}

.element:hover {
  filter: opacity(0.9);
}

/* Navbar */
nav {
  background: #fff;
  display: flex;
  position: fixed;
  z-index: 1986;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo {
  color: #171c24;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 10px;
  min-width: 18% !important;
  border-radius: 36px;
}
nav .nav-items li a {
  color: #171c24;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li:hover {
  background-color: #e1e1e1;
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #e1e1e1;
  min-width: 18% !important;
  border-radius: 36px;
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #e60023;
  border: none;
  border-radius: 2px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
  transition: 0.2s all;
}
nav form button:hover {
  background: #cc0d29ab;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}

@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 20px;
    width: 100%;
    z-index: 1986;
  }
  nav .logo {
    flex: 2;
    text-align: center;
    font-size: 22px;
  }
  nav .menu-icon {
    display: block;
    color: #171c24;
  }
  nav .search-icon,
nav .menu-icon span {
    display: block;
    color: #171c24;
  }
  nav .menu-icon span.hide,
nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
    color: #1e232b;
  }

  nav .nav-items {
    position: fixed;
    z-index: 1986;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: left 0.3s ease;
  }

  nav .nav-items.active {
    left: 0px;
  }

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  nav .nav-items li a {
    font-size: 20px;
  }

  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }

  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }

  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }

  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #fff;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  footer {
    display: flex;
    height: 8%;
  }
}
@media (max-width: 980px) {
  nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    margin: 0 20px;
  }

  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
